<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.shrevin.Splash2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>splash</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Need camera access to take pictures</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need library access to upload images</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
